################################################################################
# This .gitignore file 
################################################################################
*.sou
bin
obj
*.cache
*.user
packages
.vs
*.orig
*.backup
*.psess

